body{
    font-family: 'Roboto', sans-serif;
    margin : 0;
    background : #F9F9F9;
}


/* Header Section */
.top-nav{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
header{
    display : grid;
    grid-template-columns:max-content auto max-content;
    height:56px;
    position: fixed;
    width: 100%;
    background-color: white;
    padding:0 10px 0 10px;
    z-index : 99999;
}
.nav-menu, .nav-logo img{
    height: 100%;
}
.nav-menu, .nav-logo{
    float: left;
    top: 7px;
    margin-left: 15px;
    height: 20px;
}
.top-nav .wrapper, .top-nav .search-bar , .top-nav .header-icons{
    display : flex;
    align-items: center;
}
.search-bar form input[type=text]{
    padding: 6px ;
    font-size: 12px;
    border:1px solid #dbdbdb;
    width: 50%;
}
.search-bar form{
    display:flex;
    justify-content: center;
    width: 100%;
}
.search-bar button{
    cursor: pointer;
    padding: 6px 10px;
    background: #dbdbdb;
    width: 65px;
    border: none;
    color:grey;
}
.search-bar button .material-icons {
    font-size : 20px;
}
.yt-video, .yt-grid , .yt-bell, .prof-picture img{
    height: 100%;
 }
.yt-video, .yt-grid , .yt-bell, .prof-picture{
   margin-right:24px;
   height: 24px;
}
.header-icons{
    margin-right: 24px;
}


/* Video section */

main {
    max-width : 2000px;
    margin : 0 auto;
    padding : 76px 28px 0;
    display : grid;
    grid-template-columns: auto 402px;
    grid-template-rows : repeat(auto);
}

.video-section {
    grid-row: auto / 1;
}

.video-section .video-title {
    font-weight : normal;
    margin : 15px 0;
}

.video-section video {
    width : 100%;
    max-width : 100%;
}

.video-section .video-views {
    font-size : 14px;
}

.video-section .video-description, .video-section .video-details {
    border-bottom : 1px solid rgba(0, 0, 0, 0.2);
}
.video-section .video-rating {
    position : relative;
    padding : 0 8px;
}
.video-section .video-description .video-rating-section {
    font-size : 12px;
    font-weight : bold;
}

.video-section .video-description .video-rating-icon {
    margin-right : 8px;
}
.video-section .video-description .video-rating-section + .video-rating-section {
    margin-left : 22px;
}
.video-section .video-description .video-rating-progress {
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    height : 3px;
    background : #d3d3d3;
}
.video-section .video-description .video-rating-progress .video-rating-progress-inner {
    height : 100%;
    background : #919191;
}
.video-section .video-description .video-actions > div {
    margin : 0 10px;
    padding-bottom : 14px;
    font-size : 12px;
    text-transform: uppercase;
    font-weight : bold;
    cursor : pointer;
}
.video-section .video-details {
    display : grid;
    grid-template-columns:max-content auto max-content;
    grid-gap : 20px;
    padding : 20px 0;
}
.video-section .video-details .author-icon-section img {
    border-radius : 50%;
    overflow : hidden;
}

.video-section .video-details .details-section {
    padding : 8px 0;
}

.video-section .video-details .subscribers-count {
    font-size : 12px;
    margin-top : 4px;
}

.video-section .video-details .description {
    margin-top : 20px;
    font-size : 14px;

}

.share-icon {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


button.subscribe {
    background : #CC0000;
}


/*aside section*/
aside{
    display: grid;
    margin-left: 24px;

    grid-row: auto / span 4;
 }
aside .top-container{
    padding: 2px;
    justify-content: space-between;

}

aside .top-container p {
    float: left;
    font-size: 16px;
    text-transform: capitalize;
    margin-top:24px;

}
.autoplay{
    text-transform: uppercase;
    font-family : Roboto,Ariel, sans-serif;
    font-size: 13px;
}
.top-container .material-icons{
    font-size: 36px;
}
.border-bottom{
    border-bottom: 1px solid gray ;
}
aside .aside-img{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin:0px 0px 8px;
    cursor: pointer;

}
aside .aside-img .aside-description{
    font-size: 14px;
    font-family:Roboto, Arial, sans-serif;

}
aside .aside-img .aside-description, .aside-sub_description, .video-views{
    font-size: 13px;
    font-family:Roboto, Arial, sans-serif;

}
aside .aside-img .main-image{
    min-width : 0;
    /* width : 50%;
    overflow: hidden; */

}
aside .aside-img .main-image img {
    width : 100%;
}
aside .show-more {
	/* width: 100%; */
	background: #d3d3d3;
	color: #808080;
	font-size: 0.75em;
	font-weight: bold;
	padding: 1em;
	text-align: center;
}

aside .show-more a {
	text-decoration: none;
	color: gray;
}

/* Comments section */

.comments-section .comments-section-heading {
    padding : 22px 0;
}
.comments-section .comments-section-heading div:nth-child(2) {
    margin-left : 16px;
    text-transform: uppercase;
    cursor : pointer;
    font-size : 14px;
}

.comments-section .comments-section-heading div:nth-child(2) .material-icons {
    margin-right : 8px;
}

.comments-section .comment-author-avatar {
    width : 40px;
}

.comments-section .comments-add-comment, .comments-section .user-comment {
    display : grid;
    grid-template-columns: 56px auto;
    gap : 4px;
    grid-gap : 16px;
    margin-bottom : 22px;
}

.comments-section .comments-add-comment .form-actions {
    margin-top : 6px;
}

.comments-section .user-comment {
    font-size : 14px;
}
.comments-section .user-comment p {
    margin : 8px 0;
}
.comments-section .user-comment .comment-actions, .comments-section .user-comment .material-icons {
    font-size : 16px;
}
.comments-section .user-comment .comment-actions > div {
    margin-right : 12px;
    font-size : 12px;
}

.comments-section .user-comment .comment-actions .material-button {
    font-size : 12px;
    padding : 6px 10px;
    background : transparent;
    color : #757575;
}
.comments-section .user-comment .comment-extra {
    margin-top : 8px;
}
.comments-section .user-comment .comment-view-replies {
    color : #065FD4;
    cursor : pointer;
    font-size : 14px;
}

/* Helper classes */

.washed-out {
    color : #757575;
}

.bold { font-weight : bold; }
.flex { display : flex; }
.flex.space-between { justify-content : space-between }
.flex.align-center { align-items : center }
.flex.justify-end { justify-content : flex-end }
.rounded-img {
    border-radius : 50%;
    overflow : hidden;
}

.material-input {
    background : transparent;
    border : none;
    outline : 0;
    border-bottom : 1px solid grey;
    width : 100%;
    padding : 6px 0;
    font-size : 14px;
}

.material-input:focus {
    border-bottom : 2px solid rgba(0, 0, 0, 0.8);
}

.material-button {
    font-family : Roboto, sans-serif;
    padding : 10px 16px;
    color : white;
    text-transform : uppercase;
    border : none;
    background : #065FD4;
    font-weight : bold;
    cursor : pointer;
    border-radius : 3px;
    font-size : 15px;
}

/* Global rules */
img {

    width : 100%;
}

/* Media Queries */


@media (max-width:900px) {
   .top-nav form {
        display: none;
    }
}


@media (max-width : 1100px) {
    main {
        grid-template-columns : 100%;
    }

    aside {
        margin-left: 0;
    }


    aside .aside-img {
        grid-template-columns: minmax(164px, 1fr) 4fr;
    }
}
